body {
	font-family:'Slabo 27px', serif;
	back:gainsboro;
}

.titleArea {
	height:200px;
}


.page-title {
	color:black;
	text-align:center;
	font-style: bold;
	font-size: 85px;
	padding-top: 10px;
	margin:0px;
}

.page-subtitle {
	color:black;
	text-align:center;
	font-size: 40px;
	padding-top:30px;
	margin-top:0px;
	padding-bottom: 30px;
}

/* -----BEGINING OF IMAGE SECTION------ */ 

/* Image below is used for home page */
.pageBreak {
	height:80px;
	background-image: url("images/prozac.jpg");
	background-size:200px;
	border-style: solid white 5px;
}

/* Image below is used for work it out */
.workpageBreak {
	height:80px;
	background-image: url("images/boring-cubicles.jpg");
	background-size:150px;
	border-style: solid white 5px;
}

/* Image below is used for Antisocial */
.antipageBreak {
	height:150px;
	background-image: url("images/antisocial_neon.jpg");
	background-size:150px;
	border-style: solid white 5px;
}




/* -----END OF IMAGE SECTION------ */


.issueType ul {	
  margin: 0px;
  padding-top: 30px;
  list-style-type: none;
  text-align:center;
}

.issueType ul li {
	display: inline;
	padding: 15px 15px 15px 15px;
	border:dotted black 1px;
}

.issueType ul li a {
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	color:black;
	font-size: 25px;
}

.subtitleArea {
	height:150px;
}

.subpage-title {
	color:black;
	text-align:center;
	font-style: bold;
	font-size: 45px;
	padding-top: 10px;
	margin:0px;
}

.subpage-subtitle {
	color:black;
	text-align:center;
	font-size: 25px;
	padding-top:20px;
	margin-top:0px;
	padding-bottom: 5px;
}


.footer {
	border-radius:5px 5px 5px 5px;
	border:2px dotted black;
	height: 20px;
	backgroud-color: whitesmoke;
	text-align: center;
	margin:5px 5px 5px 5px;
}

.footer a {
	text-decoration: none;
}

/*Antisocial specific resources below (start point) */

#antisocial_background_solid {
	background-color: #EEFFBF;
}









