body {
	font-family:'Slabo 27px', serif;
	back:gainsboro;
}

.titleArea {
	height:200px;
}


.page-title {
	color:black;
	text-align:center;
	font-style: bold;
	font-size: 85px;
	padding-top: 10px;
	margin:0px;
}

.page-subtitle {
	color:black;
	text-align:center;
	font-size: 40px;
	padding-top:30px;
	margin-top:0px;
	padding-bottom: 30px;
}

/* -----BEGINING OF IMAGE SECTION------ */ 

/* Image below is used for home page */
.pageBreak {
	height:80px;
	background-image: url("images/prozac.jpg");
	background-size:200px;
	border-style: solid white 5px;
}

/* Image below is used for work it out */
.workpageBreak {
	height:80px;
	background-image: url("images/boring-cubicles.jpg");
	background-size:150px;
	border-style: solid white 5px;
}

/* Image below is used for Antisocial */
.antipageBreak {
	height:150px;
	background-image: url("images/antisocial_neon.jpg");
	background-size:150px;
	border-style: solid white 5px;
}

/* Image below is used for Love */
.lovepageBreak {
	height:150px;
	background-image: url("images/banksy-heart-original.jpg");
	background-size:200px;
	border-style: solid white 5px;
}


/* -----END OF IMAGE SECTION------ */


.issueType ul {	
  margin: 0px;
  padding-top: 30px;
  list-style-type: none;
  text-align:center;
}

.issueType ul li {
	display: inline;
	padding: 15px 15px 15px 15px;
	border:dotted black 1px;
}

.issueType ul li a {
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	color:black;
	font-size: 25px;
}

.subtitleArea {
	height:150px;
}

.subpage-title {
	color:black;
	text-align:center;
	font-style: bold;
	font-size: 45px;
	padding-top: 10px;
	margin:0px;
}

.subpage-subtitle {
	color:black;
	text-align:center;
	font-size: 25px;
	padding-top:20px;
	margin-top:0px;
	padding-bottom: 5px;
}


.footer {
	border-radius:5px 5px 5px 5px;
	border:2px dotted black;
	height: 20px;
	backgroud-color: whitesmoke;
	text-align: center;
	margin:5px 5px 5px 5px;
}

.footer a {
	text-decoration: none;
}


.questionArea {
	text-align: center;
	background-color: #FFF5EB;
	margin: 25px 25px 25px 25px;
	padding: 15px 15px 15px 15px;
	border: black dotted 1px;
	border-radius: 20px;
}

/*to hide all questions except the current question*/
.questionLeadin {
	display: none;
}

/*to show properties of current question*/
.Qcurrent {
	display: block;
	text-align: center;
	color:#800000;
	font-size: 30px;
	padding: 5px 5px 5px 5px;
	margin: 0% 15% 0% 15%;
	border-radius: 15px;
	background-color: #EBD6CC;

}

.question {
	text-align: center;
	font-size: 40px;
	color:800000;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
}

.questions {
	display:none;
}

.Qscurrent {
	display: block;
}

.answerlist {	
  margin: 0px;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
  display: table;
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
}

.answers {
	position: relative;
	vertical-align: middle;
	padding: 5px 30px 5px 30px;
	border:dotted black 1px;
	border-radius: 15px;
	background-color: #800000;
	display: table-cell;
	width: 350px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-size: 18px;
	color:#EBD6CC;
}

/*hovering over an answer w your mouse*/
.answers:hover {
	position: relative;
	vertical-align: middle;
	padding: 5px 30px 5px 30px;
	border:dotted black 1px;
	border-radius: 15px;
	background-color: #EBD6CC;
	display: table-cell;
	width: 350px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-size: 18px;
	color:#800000;
}

/*selected answer - can't quite get this to work yet*/
.answers .clicked {
	position: relative;
	vertical-align: middle;
	padding: 5px 30px 5px 30px;
	border:solid 800000 1.5px;
	border-radius: 15px;
	background-color: #EBD6CC;
	display: table-cell;
	width: 350px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	font-size: 18px;
	color:#800000;
}

/*Antisocial specific resources below (start point) */

#antisocial_background_solid {
	background-color: #EEFFBF;
}









